body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.post {
    background-color: white;
    margin: auto;
    width: 600px;

}

.header {
    display: flex;
    height: 60px;
}

div.post .header div:first-child {
    width: 6%;
    padding: 10px 0px 10px 10px;
}

div.post .header div:nth-child(2) {
    width: 87%;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

div.post .header div:last-child {
    padding-top: 20px;
}

div.post img {
    width: 100%;
    display: block;
}

.icons {
    display: flex;
}

.icons1 {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    padding-top: 10px;

}

.icons2 {
    padding-left: 73%;
    padding-top: 10px;
}

.description {
    padding-left: 10px;
    padding-bottom: 20px;
}